<div class="card-weather">
    <form class="search">
        <input [ngModelOptions]="{standalone: true}" [(ngModel)]="city" placeholder="Digite o nome da cidade">
        <button (click)="getCity()">Buscar</button>
    </form>

    <div class="content" *ngIf="weather">

        <img src="{{ iconImg }}" />
        <section class="text">
            <p class="temperature">{{ tempCity }}°</p>
            <section class="descripton">
                <p>{{ description }}</p>
                <h2>{{ nameCity }} </h2>
            </section>
        </section>
    </div>
</div>